<h4><%= event.title %></h4>
<p><strong>Location:</strong> <%= event.location %></p>
<p><strong>Start Time:</strong> <%= date_helper(event.start_time) %></p>
<p><strong>End Time:</strong> <%= date_helper(event.end_time) %></p>