<h2 class="page-header">What You're Bringing Where</h2>
<ul>
  <% @hosted_events.each do |event| %>
    <%= render 'event_item', {event: event} %>
  <% end %>

  <% @invited_events.each do |event| %>
    <%= render 'event_item', {event: event} %>
  <% end %>
</ul>